<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <hr>
    <button style="color:white; background-color: black; padding: 1em;" class="btn btn-info">Click Me</button>
  
  </body>
</html>
