

   
        <!-- Service Start -->
        <div class="service" id="service">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>Welcome to</p>
                    <h2>Admin Panel</h2>
                </div>
                <div class="row row-admin">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="service-item">
                            <div class="service-icon">
                                <a href="/admin-dashboard">
                                <i class="fa fa-laptop"></i>
                               
                            </div>
                           
                                <div class="service-text">
                                <h3>Admin Dashboard</h3>
                                <p>
                                 Admin home Dashboard
                                </p>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="service-item">
                            <div class="service-icon">
                                <a href="/post-blog">
                                
                    <i class="fa fa-sticky-note "></i>
                </a>
                            </div>
                          
                             <div class="service-text">
                                <h3>Create Blog</h3>
                                <p>
                                   This page gives you the access to create a new blog post
                                </p>
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="service-item">
                            <div class="service-icon">
                                <a href="/all-blog">
                                <i class="fab fa-android"></i>
                            </a>
                            </div>
                             <div class="service-text">
                                <h3>Edit Blog</h3>
                                <p>
                                   This page gives acess to delete or update a blog
                                </p>
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="service-item">
                           
                                <div class="service-icon">
                             <a href="/moderator">   <i class="fab fa-apple"></i> </a>
                            </div>
                           
                            <div class="service-text">
                                <h3>Moderator</h3>
                                <p>
                                  You can delete an unwanted user or a unwanted post made by a user 
                                </p>
                            </div>
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->
        <%- include('partials/footer.ejs') %> 

      