<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <%- include('partials/headerPlugin.ejs') %> 
</head>
<body class = "auth-form">
    <div class="container">
    

    <div class = "form offset-2  mt-5 p-5">
           
        <h3 class = " text-warning">Reset Password</h3>
        <i class="fa fa-wrench fa-2x text-white offset-4"></i>
        <hr>
       <form action="/change-password?_method=PUT" method="POST" class = "form-group col-md-5 change-password" >
        <div>
            <label for="">Enter a new password</label>
            <input type="password" class="form-control" name = "password" minlength="8" >
        </div>
        <div>
            <label for="">Confirm new password</label>
            <input type="password" class="form-control" name = "confirmPassword" >
        </div>
        <% if(typeof resetId == 'undefined'){%>
          <p></p>
       <% }else{%>
        <input type="hidden" name = "resetId" value="<%= resetId %>">
       <%} %> 
    
        <div>
            <button class = "btn-success form-control mt-3">change password</button>
        </div>
        <div class ="p-4"><a href="/login" class = "text-decoration-none">Already have an account</a>
            <a href="/signUP" class = "text-decoration-none">Register</a>
        </div>
        <div>
            <div>
                
            </div>
            
        </div>
    
    </form>

</div>
 
    </div>
</body>
<%- include('partials/footerPlugin.ejs')  %>
<%- include('partials/footer.ejs') %> 
</html>