<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include('partials/headerPlugin.ejs') %> 
</head>
<body class = "auth-form">
    <div class="container justify-item-cemter">
        <h3>You are not authorise to be in this page</h3>
        <button class="btn btn-info"><a href="/">Home</a></button>
    </div>
</body>
<%- include('partials/footerPlugin.ejs')  %>
</html>